<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="4">
        <v-text-field
          v-model="text.val1"
          label="Text save 1"
          required
          disabled
        ></v-text-field>
        <v-text-field
          v-model="text.val2"
          label="Text save 2"
          required
          disabled
        ></v-text-field>
        <v-text-field
          v-model="text.val3"
          label="Text save 3"
          required
        ></v-text-field>
        <v-text-field
          v-model="text.val4"
          label="Text save 4"
          required
        ></v-text-field>
        <v-btn
          elevation="2"
          @click="save"
        >
          Save
        </v-btn>
        <a href="/test1">
          <v-btn
            elevation="2"
            @click="save"
          >
            Href
          </v-btn>
        </a>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({
      text:{
        val1: '',
        val2: '',
        val3: '',
        val4: '',
      }
    }),

    mounted() {
      let text = localStorage.getItem('items-save')
      if(text){
        this.text = JSON.parse(text) 
      }
    },

    methods: {
      save(){
        localStorage.setItem('items-save', JSON.stringify(this.text))
      }
    }
  }
</script>
